{% load static %}
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>eLEARNING</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            
            {% if user.is_authenticated %}
                {% if user.role == 'student' %}
                    <!-- Role-specific menu for students -->
                    <a href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
                    <a href="{% url 'assignment_page' %}" class="nav-item nav-link">Assignments</a>
                    <a href="{% url 'log_out' %}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Logout<i class="fa fa-arrow-right ms-3"></i></a>
                {% elif user.role == 'teacher' %}
                    <!-- Role-specific menu for teachers -->
                    <a href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
                    <a href="{% url 'log_out' %}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Logout<i class="fa fa-arrow-right ms-3"></i></a>
                {% else %}
                    <!-- Default menu for authenticated users with no specific role -->
                    <a href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
                    <a href="{% url 'about_page' %}" class="nav-item nav-link">About</a>
                    <a href="{% url 'course_page' %}" class="nav-item nav-link">Courses</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu fade-down m-0">
                            <a href="{% url 'instructor' %}" class="dropdown-item">Our Team</a>
                            <a href="{% url 'xstudents' %}" class="dropdown-item">Testimonial</a>
                        </div>
                    </div>
                    <a href="{% url 'contact_page' %}" class="nav-item nav-link">Contact</a>
                    <a href="{% url 'log_out' %}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Logout<i class="fa fa-arrow-right ms-3"></i></a>
                {% endif %}
            {% else %}
                <!-- Menu for unauthenticated users -->
                <a href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
                <a href="{% url 'about_page' %}" class="nav-item nav-link">About</a>
                <a href="{% url 'course_page' %}" class="nav-item nav-link">Courses</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu fade-down m-0">
                        <a href="{% url 'instructor' %}" class="dropdown-item">Our Team</a>
                        <a href="{% url 'xstudents' %}" class="dropdown-item">Testimonial</a>
                    </div>
                </div>
                <a href="{% url 'contact_page' %}" class="nav-item nav-link">Contact</a>
                <a href="{% url 'user_page' %}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Join Now<i class="fa fa-arrow-right ms-3"></i></a>
            {% endif %}
        </div>
    </div>
</nav>
